<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p>
        <%=startingContent%>
    </p>
    <% posts.forEach(function(post){ %>
        <div class="post-head">
            <h3 class="post-title">
                <%= post.title %>
            </h3>
            <p class="post-time text-muted">
                <%=post.timeAdded%>
            </p>
        </div>
        <% if(post.content.length> 300) { %>
            <% let postContent=post.content.substring(0,300); %>
            <% postContent +="..." ; %>
            <p>
            <%= postContent %><a href="/posts/<%= post._id%>" target="blank">Read more</a>
            </p>
        <% } else{ %>
            <p>
            <%= post.content %>
            </p>
        <% } %>
    <% }) %>
<%- include("partials/footer"); -%>