<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p>
        <%=startingContent%>
    </p>
    <% posts.forEach(function(post){ %>
        <h3><%= post.title %></h3>
        <% if(post.content.length > 100) { %>
           <% let postContent = post.content.substring(0,100); %>
           <% postContent += "..."; %>
           <p><%= postContent %><a href= "/posts/<%= post.title %>" target="blank">Read more</a>
           </p>
        <% } else{ %>
            <p><%= post.content %></p>
        <% } %>
    <% }) %>
<%- include("partials/footer"); -%>