<%- include("partials/header"); -%>
    <div class="post-head post-space">
        <h1 class="post-title">
            <%=post.title%>
        </h1>
        <p class="text-muted post-time">
            <%=post.timeAdded%>
        </p>
    </div>
    <p>
        <%=post.content%>
    </p>
<%- include("partials/footer"); -%>